@model SignalRProject.ViewModels.ChatViews.GetRoomChatView
@{

    ViewData["Title"] = "Room Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="container">
    <p class="col-12" id="roomName">@Model.Name</p>
    <div class="chat-container" id="messagesList">
    </div>
    <div class="users-container">
        @foreach (var user in Model.Users)
        {
            <p><img src="@user.Photo" a /><b>@user.FirstName @user.LastName</b></p>
        }

    </div>
    <div class="send-message-form">
        <div class="row input-group">
            <div class="col-1 text-center-padding">Message</div>
            <div class="col-9">
                <textarea id="messageInput"></textarea>
            </div>
            <div class="col-2">
                <button class="btn btn-primary btn-block" id="sendButton">Send Message</button>
            </div>
        </div>
    </div>
</div>*@
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/custom/chat.js"></script>
<script src="~/js/custom/room.js"></script>*@

@*<script>

    var userEmail = '@User?.Identity?.Name';
    var roomChatView = @Html.Raw(Json.Serialize(Model));

</script>*@