@using SignalRProject.ViewModels.MenuViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SignalRProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom/simple-sidebar.css" />
    <link rel="stylesheet" href="~/font-awesome/css/all.css">
</head>
<body>
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">SignalRProject </div>
            <div class="list-group list-group-flush">
                <button class="btn btn-light" data-toggle="modal" data-target="#addRoomModal"><i class="fas fa-plus"></i> room</button>
                @{
                    ChatMenuView chats = ViewData["Chats"] as ChatMenuView;

                    foreach (MenuChatViewItem room in chats.Items)
                    {
                        <a onclick="getRoomById('@room.Id')" class="list-group-item list-group-item-action bg-light">
                            <img class="room-avatar" src="~/@room.Photo">@room.Name
                        </a>
                    }
                }

            </div>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-light" id="menu-toggle"><i class="fas fa-bars"></i></button>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    @await Component.InvokeAsync("UserCaseOnNav")
                </div>
            </nav>

            <div class="container-fluid">
                @RenderBody()
            </div>


        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - SignalRProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/custom/home.js"></script>
    <script src="~/js/custom/auth.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
